/* Wrapper */
#block-stickynote-stickynote-block{
  position:static; /* Fixed is set per jQuery */
  display:none; /* Hide to prevent flashing up while the page is loading */
  top:5px;
  right:0;
  width:80%;
  background:rgba(16,16,16,0.9);
  opacity:1.0;
  color:#fff;
  padding:0;
  z-index:999;
  line-height:normal;
  max-width: 900px;
  font-family:Arial, Verdana, sans-serif;

  transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -moz-transition-duration:0.5s;
}
#block-stickynote-stickynote-block *{
  transition-property:background-color, color;
  -webkit-transition-property:background-color, color;
  -moz-transition-property:background-color, color;

  transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -moz-transition-duration:0.5s;
}

.admin-menu #block-stickynote-stickynote-block{ top:45px; /* Admin Menu Support */ }
#block-stickynote-stickynote-block h2.block-title{ color:#fff; margin-top:4px; }
#block-stickynote-stickynote-block.webks-stickynote-bonus{ position:absolute; width:0; }
#block-stickynote-stickynote-block.webks-stickynote-bonus.notes-open{ width:80%; padding:15px 5px 20px 20px; }

#block-stickynote-stickynote-block > .inner{ overflow-y: auto; }

/* Icons */
#block-stickynote-stickynote-block .ico-img{ background:url('images/stickynotes_bonus_iconsprite.png') 0 0 no-repeat transparent; display:block; }

/* Opener (Trigger) */
#block-stickynote-stickynote-block .opener{ position:absolute; left:-50px; top:5px; width:50px; height:50px; background:rgba(16,16,16,0.9); color:#fff; }
#block-stickynote-stickynote-block .opener .label{ text-indent:-9000px; display:block; /* For screenreaders */ }
#block-stickynote-stickynote-block .opener .ico-img{
  background-position:0 0;
  height:20px;
  width:16px;
  margin:17px 0 0 15px;

  transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -moz-transition-duration:0.5s;
}
#block-stickynote-stickynote-block.notes-open .ico-img{ background-position:-18px 0px; }
/* -- Has Notes */
#block-stickynote-stickynote-block.has-notes .opener{
  border-left:3px solid #ADED22;
  cursor:pointer;
}

/* Note-Table */
#block-stickynote-stickynote-block table{ border:0 none; }
#block-stickynote-stickynote-block table thead tr, #block-stickynote-stickynote-block table thead th{ background:#555; color:#fff; }
#block-stickynote-stickynote-block table th{ font-weight:normal; }
#block-stickynote-stickynote-block table tr a,
#block-stickynote-stickynote-block table th a{ color:#000; }
#block-stickynote-stickynote-block table th a{ color:#fff; }
#block-stickynote-stickynote-block table tr.even, #block-stickynote-stickynote-block table tr.odd{ background:#e1e1e1; color:#000; }
#block-stickynote-stickynote-block table tr:hover{ background:white; }
#block-stickynote-stickynote-block #stickynote-list td{ max-height:200px; overflow-y:auto; vertical-align:top; }

/* Note-Table Options */
/* -- We have no classes here.. so.. */
#block-stickynote-stickynote-block #stickynote-list a[href*="edit"],
#block-stickynote-stickynote-block #stickynote-list a[href*="delete"]{ white-space:nowrap; }

/* Note Add Form */
#block-stickynote-stickynote-block button,
#block-stickynote-stickynote-block input,
#block-stickynote-stickynote-block select,
#block-stickynote-stickynote-block textarea{
  font-family:Arial, Verdana, sans-serif;
}

#block-stickynote-stickynote-block .form-item-note.form-type-textarea{ width: 100%; background:#555; padding:0; }
#block-stickynote-stickynote-block .form-item-note.form-type-textarea label { padding-left: 10px; }
#block-stickynote-stickynote-block .form-item-note.form-type-textarea textarea{ width:100%; background:#e1e1e1; font-weight:normal; padding-left:10px; }
#block-stickynote-stickynote-block .form-item-note.form-type-textarea textarea:hover,
#block-stickynote-stickynote-block .form-item-note.form-type-textarea textarea:focus{ background:white; }

#block-stickynote-stickynote-block input.form-submit,
#block-stickynote-stickynote-block button{ background:#aded22; color:#233105; border:0 none; outline:0; font-weight:normal; border-radius:3px; padding:10px 15px; margin-right:5px; }

#block-stickynote-stickynote-block label{
  color:white;
  padding:3px 0;
}

#block-stickynote-stickynote-block .form-type-textarea{
  margin-bottom:10px;
}

/* Notes Count */
#block-stickynote-stickynote-block .notes-count{
  background:#D9331A;
  border-radius:3px;
  display:inline-block;
  position:absolute;
  right:calc(100% - 10px);
  top:-8px;
  min-width:20px;
  max-width:45px;
  padding:3px 5px;
  text-align:center;
  line-height:normal;
  vertical-align:middle;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}